h1,h2,p,a,ul,li,body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.3;
}

h1 {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(23, 151, 23);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#nav li {
    float: left;
}

#nav li a, .dropbtn {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

#nav li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(253, 38, 38);
}

#nav li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: rgb(23, 151, 23);
    min-width: 185px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(253, 38, 38);
}

.dropdown:hover .dropdown-content {
    display: block;
}

#nav li.final {
    float: right;
    font-weight: bold;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

li a:hover,
.active {
    background-color: rgb(253, 38, 38);
}

body {
    background-color: rgb(248, 232, 138);
    margin: 0;
}

main {
    margin: 15px;
}

.middle {
    text-align: center;
}

.text {
    margin: auto;
    width: 27%;
    border: 2px solid rgb(23, 151, 23);
    font-size: 14px;
    border-radius: 16px;
    text-align: center;
    display: block;
    padding: 5px;
}

.img {
    margin: auto;
    display: block;
}

.polaroid img {
    width: 100%;
    z-index: -1;
}

div.polaroid {
    width: 35%;
    height: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 7.4%;
    display: inline-block;
    margin-left: 7.4%;
    margin-right: 7.4%;
    z-index: -1;
  }

.container {
    text-align: center;
    padding: 10px 20px;
}

.rotate {
    transform: rotate(180deg); 
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.video {
    margin: 0 auto;
    display: block;
}

.image1 {
    float: left;
    padding-left: 0;
    padding-right: 30px;
    margin: 0;
}

.image2 {
    float: right;
    padding-left: 30px;
    padding-right: 0;
    margin: 0;
}

.classh1 {
    padding: 20px;
    margin-top: 30px;
}

.pieces li {
    list-style-type: square;
}

.sub li {
    list-style-type: circle;
    font-size: 14px;
    font-style: italic;
}

.sub1 li {
    list-style-type: circle;
}

.longtime {
    color: rgb(253, 38, 38);
    text-decoration: underline;
}

.longtime:hover {
    color: rgb(253, 38, 38);
    font-weight: bold;
}

.italics {
    color: gray;
    font-size: 16px;
}

.button {
    color: black;
    background-color: rgb(23, 151, 23);
    border-radius: 8px;
    border: none;
    font-size: 16px;
    display: block;
    padding: 8px 14px;
    margin: 0 auto;
}

.button a {
    text-decoration: none;
    color: black;
}

.button:hover {
    background-color: rgb(253, 38, 38);
    color: black;
}

.previous {
    background-color: rgb(23, 151, 23);
    color: black;
}

a.previous {
    text-decoration: none;
    padding: 8px 16px;
    float: left;
    margin: 20px;
    border-radius: 4px;
}

a.previous:hover {
    background-color: rgb(253, 38, 38);
    color: black;
}

.next {
    background-color: rgb(23, 151, 23);
    color: black;
}

a.next {
    text-decoration: none;
    padding: 8px 16px;
    float: right;
    margin: 20px;
    border-radius: 4px;
}

a.next:hover {
    background-color: rgb(253, 38, 38);
    color: black;
}
